modules/extensions-spring-support/src/test/resources/schemas/parameter-resolver.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/parameter-resolver" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
    <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/extension" schemaLocation="http://www.mulesoft.org/schema/mule/extension/current/mule-extension.xsd"></xs:import>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" abstract="true" name="abstract-door"></xs:element>
    <xs:element xmlns:parameter-resolver="http://www.mulesoft.org/schema/mule/parameter-resolver" substitutionGroup="parameter-resolver:abstract-door" name="door">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="parameter-resolver:org.mule.test.heisenberg.extension.model.KnockeableDoor">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.heisenberg.extension.model.KnockeableDoor">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:element minOccurs="0" maxOccurs="1" name="previous">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension xmlns:parameter-resolver="http://www.mulesoft.org/schema/mule/parameter-resolver" base="parameter-resolver:org.mule.test.heisenberg.extension.model.KnockeableDoor"></xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute type="mule:expressionString" use="required" name="victim"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="address"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="previous"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="config">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                    <xs:annotation>
                        <xs:documentation>Default configuration</xs:documentation>
                    </xs:annotation>
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" minOccurs="0" maxOccurs="1" ref="extension:dynamic-config-policy"></xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="door-resolver">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns:parameter-resolver="http://www.mulesoft.org/schema/mule/parameter-resolver" base="parameter-resolver:org.mule.test.heisenberg.extension.model.KnockeableDoor"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="optional" name="stringResolver"></xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="doorResolver"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/parameter-resolver" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SomeSourceType" substitutionGroup="mule:abstract-message-source" name="some-source"></xs:element>
    <xs:complexType name="SomeSourceType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-redelivery-policy"></xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
                </xs:sequence>
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="xs:string" use="required" name="someString"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/parameter-resolver" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ConfigOperationType" substitutionGroup="mule:abstract-operator" name="config-operation"></xs:element>
    <xs:complexType name="ConfigOperationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/parameter-resolver" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="DoorOperationType" substitutionGroup="mule:abstract-operator" name="door-operation"></xs:element>
    <xs:complexType name="DoorOperationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:element minOccurs="0" maxOccurs="1" name="door">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension xmlns:parameter-resolver="http://www.mulesoft.org/schema/mule/parameter-resolver" base="parameter-resolver:org.mule.test.heisenberg.extension.model.KnockeableDoor"></xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute type="xs:string" use="optional" name="door"></xs:attribute>
                <xs:attribute type="xs:string" use="required" name="someDoor"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/parameter-resolver" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ResolverOperationType" substitutionGroup="mule:abstract-operator" name="resolver-operation"></xs:element>
    <xs:complexType name="ResolverOperationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:element minOccurs="0" maxOccurs="1" name="pojo-with-resolver">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension xmlns:parameter-resolver="http://www.mulesoft.org/schema/mule/parameter-resolver" base="parameter-resolver:org.mule.runtime.module.extension.internal.ParameterResolverConfigTestCase.PojoWithParameterResolverParameter"></xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute type="xs:string" use="optional" name="pojoWithResolver"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="org.mule.runtime.module.extension.internal.ParameterResolverConfigTestCase.PojoWithParameterResolverParameter">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
                <xs:attribute type="mule:expressionString" use="required" name="someExpression"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" abstract="true" name="abstract-pojo-with-parameter-resolver-parameter"></xs:element>
    <xs:element xmlns:parameter-resolver="http://www.mulesoft.org/schema/mule/parameter-resolver" substitutionGroup="parameter-resolver:abstract-pojo-with-parameter-resolver-parameter" name="pojo-with-parameter-resolver-parameter">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="parameter-resolver:org.mule.runtime.module.extension.internal.ParameterResolverConfigTestCase.PojoWithParameterResolverParameter">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/parameter-resolver" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="StringOperationType" substitutionGroup="mule:abstract-operator" name="string-operation"></xs:element>
    <xs:complexType name="StringOperationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:attribute type="mule:expressionString" use="optional" default="this is a string" name="string"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>